@model VehicleInspectionReminder.Web.Models.VehicleInfoModel
@using System.Collections
@using VehicleInspectionReminder.Model
@using WebGrease.Css.Extensions
@{
    ViewBag.Title = "车辆检测";
    Layout = "~/Views/Shared/_Layout.cshtml";
    VehicleInfo InfoList = ViewBag.InfoList as VehicleInfo;
}

<div class="row">
    <div class="col-md-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title lighter">车辆检测</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-search" action="@Url.Action("UpdateVehicleInfo")" method="post">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                @if (!string.IsNullOrWhiteSpace(ViewBag.Message as string))
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <i class="ace-icon fa fa-times"></i>
                                        </button>
                                        @ViewBag.Message
                                        <br>
                                    </div>
                                }
                                <fieldset>
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            @Html.HiddenFor(m => m.OwnerId)
                                            @Html.HiddenFor(m => m.VehicleBrand.Id)
                                            @Html.HiddenFor(m => m.VehicleTypeId)
                                            @Html.HiddenFor(m => m.Plate)
                                            @Html.HiddenFor(m => m.DeliveryTtime)
                                            @Html.HiddenFor(m => m.PurchaseDate)
                                        </span>
                                    </label>

                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            @Html.LabelFor(m => m.Plate)：
                                            @Model.Plate
                                        </span>
                                    </label>

                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">

                                            <span class="block input-icon input-icon-right">
                                                <select class="form-control" id="InsuranceStatus" name="InsuranceStatus">
                                                    <option value="-1">--请选择投保状态--</option>
                                                    <option value="0">未投保</option>
                                                    <option value="1">已投保</option>
                                                </select>
                                            </span>
                                        </span>
                                    </label>
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">

                                            <span class="block input-icon input-icon-right">
                                                <select class="form-control" id="FireCar" name="FireCar">
                                                    <option value="0">--车内消防设施情况--</option>
                                                    <option value="1">良好</option>
                                                    <option value="2">一般</option>
                                                    <option value="3">损毁</option>
                                                </select>
                                            </span>

                                        </span>
                                    </label>
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <span class="block input-icon input-icon-right">
                                                <select class="form-control" id="LightCondition" name="LightCondition">
                                                    <option value="0">--照明设施情况--</option>
                                                    <option value="1">良好</option>
                                                    <option value="2">一般</option>
                                                    <option value="3">损毁</option>
                                                </select>
                                            </span>
                                        </span>
                                    </label>
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <span class="block input-icon input-icon-right">
                                                <select class="form-control" id="PlateIsIntact" name="PlateIsIntact">
                                                    <option value="0">--车牌是否完好--</option>
                                                    <option value="1">完好</option>
                                                    <option value="2">损毁</option>
                                                </select>
                                            </span>
                                        </span>
                                    </label>

                                    <div class="space-24"></div>


                                </fieldset>
                                <div class="input-group">

                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-purple btn-sm">
                                            <span class="ace-icon fa fa-plus icon-on-right bigger-110"></span>
                                            保存检测信息
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title lighter">车辆信息列表</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <table class="table-bordered table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>车主姓名</th>
                                <th>车辆类型</th>
                                <th>车牌号</th>
                                <th>出厂日期</th>
                                <th>下次车检日期</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                //显示当前保养车辆的信息
                                if (null != InfoList)
                                {
                                    <tr>
                                        <td>@InfoList.Id</td>
                                        <td>@InfoList.Owner.UserName</td>
                                        <td>@InfoList.VehicleType.VehicleTypeName</td>
                                        <td>@InfoList.Plate</td>
                                        <td>@InfoList.DeliveryTtime</td>
                                        <td>@InfoList.PurchaseDate</td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
